.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 50px 100px;
  margin: 0 auto;
  gap: 30px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

.bodyContainer {
  display: flex;
  padding: 20px 10px;
  border: 1px solid black;
  flex-direction: column;
  gap: 50px;
}

.searchContainer{
  display: flex;
  gap: 50px;
}

.contentSearchingContainer{
  display: flex;
  gap: 10px;
}

.permissionTimeSearchingContainer{
  display: flex;
  gap: 10px;
}

.tableContainer {
  display: block;
  width: 100%;
}

table {
  width: 100%;
}

table th {
  text-align: start;
}

.modalLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modalContent {
  width: 50%;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modalTitle {
  align-self: flex-start;
  font-size: 20px;
}

.modalInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.modalInputItemContainer {
  display: flex;
  gap: 10px;
}

.modalInputItemContainer > input {
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}
